<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./styleForRabotodatel.css" rel="stylesheet">
    <title>findPractice</title>
</head>

<body>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./index.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-11">
                    <h1 class="text-left fp-h1">findPractice</h1>
                    <h5 class="text-left fp-h5 fp-header-text">Найди практику своей мечты!</h5>
                </div>
                <div class="col-1 fp-registration">
                    <a href="./voiti.html" class="fp-a-registr">Войти</a>
                    <a href="./regist.html" class="fp-a-registr">Регистрация</a>
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <!-- <div class="col col-xl-12">  -->
            <!-- col-md-6 col-xs-3 -->
            <!-- <div class="col"> -->
            <div class="col-12 fp-users col-md-9 col-sm-12 col-lg-6">
                <a href="./index.html" class="fp-a-student">Студентам</a>
                <a class="fp-a-company">Работодателям</a>
            </div>
            <div class="col-12 fp-input-panel ">
                <form class="fp-form" action="#" method="get">
                    <input placeholder="Направление практики" class="fp-input">
                    <button class="fp-button">
                        <span class="fp-span">Найти</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br>


</body>

</html>