<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./registr.css" rel="stylesheet">
    <title>findPractice</title>
</head>

<body>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./index.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-left fp-h1"><a class="fp-a" href="./index.html">findPractice</a></h1>
                    <h5 class="text-left fp-h5 fp-header-text">Найди практику своей мечты!</h5>
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col fp-form">
                <div>
                    <form method="post" action="#">
                        <input class="fp-input" placeholder="Имя">
                        <br>
                        <input class="fp-input" placeholder="Фамилия">
                        <br>
                        <input class="fp-input" placeholder="Отчество">
                        <br>
                        <input class="fp-input" placeholder="Дата">
                        <br>
                        <input class="fp-input" placeholder="Email">
                        <br>
                        <input class="fp-input" placeholder="Пароль">
                        <br>
                        <button type="button" class="fp-button">Зарегистрироваться</button>
                        <br>
                        <a class="fp-a fp-voiti" href="./voiti.html">Уже есть аккаунт?</a>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>

</html>