:root {
    --colorBlack: #1D0F0F;
    /* --colorBlack: #2e2b29; */
    --colorWhite: #fdfdfd;
    --colorGray: #a3a3a3;
    /* --colorGray: #878787; */

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colorWhite);
}
/* .fp-input{

} */
footer {
    background-color: var(--colorBlack);
    color: var(--colorBlack);
}

.fp-header-text {
    size: 10px;
}

.fp-h1 {
    color: var(--colorWhite);
}

.fp-h5 {
    color: var(--colorWhite);
}

.container-header {
    background-color: var(--colorBlack);
}

header {
    background-color: var(--colorBlack);
    margin-bottom: -15px;
}

hr {
    color: var(--colorWhite);
}

.fp-a-student {
    /* margin-left: 120px; */
    margin-right: 10px;
    margin-left: -21px;
}
.fp-registration{
    margin-top: 5px;
}
.fp-registration{
    margin-top: 5px;
}
.fp-a-registr{
    text-decoration: none;
    color: var(--colorWhite);
}
.fp-a-registr{
    text-decoration: none;
    color: var(--colorWhite);
}
.fp-a-student{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--colorBlack);
    color: var(--colorWhite)
}
.fp-a-company {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--colorBlack);
    color: var(--colorGray)
}

.fp-users {
    text-align: left;
    margin-left: 10px;
}

.fp-panel {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    padding: 5px;
    padding-left: 10px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fp-vakansii {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.fp-vakansii_list{

}
.fp-form {
    margin-top: 10px;
    margin-left: -12px;
    display: flex;
    /* margin-top: 20px; */

    background-color: var(--colorBlack);
    padding: 10px;
    border-color: var(--colorWhite);
    border-radius: 8px;
    /* margin-right: 400px; */
    margin-left: -12px;
}
.fp-button {
    float: right;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    border-style: hidden;
}
.fp-input {

    text-decoration: none;
    padding: 15px;
    height: 50px;
    /* width: 390px; */
    width: 50vw;
    min-width: 100px;
    margin-right: 10px;
    border-radius: 8px;
    border-style: hidden;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
}
.fp-vakansiya{
    background-color: var(--colorWhite);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    border-style: hidden;
    padding-left: 10px;
}
.fp-vakansiya-ssilka{
    text-decoration: none;
}
.fp-vakansiya-name, .fp-vakansiya-opisanie, .fp-vakansiya-regioni, .fp-vakansiya-company {
    color: var(--colorBlack);
}
.fp-vakansiya-name{
    font-size: 30px;

}
.fp-vakansiya-regioni, .fp-vakansiya-company{
    font-size: 14px;
}
.fp-vakansiya-tegi{
    font-size: 18px;
}
.teg{
    color: var(--colorBlack);
}
.fp-vakansiya-company{

}
.tochka{
    /* white-space: pre-wrap; */

    color: var(--colorBlack);
}
.fp-logo-img{
    width: 100px;
    height: 100px;
}
/* .fp-button-div{ */
/* text-align: right; */
/* float: right; */
/* } */
.fp-regioni-list {
    list-style-type: none;
    text-align: left;
}

.checkbox-a {
    border-radius: 10px;
}

.fp-input {

    text-decoration: none;
    padding: 15px;
    height: 50px;
    /* width: 390px; */
    width: 50vw;
    min-width: 100px;
    margin-right: 10px;
    border-radius: 8px;
    border-style: hidden;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
}

.fp-button {
    float: right;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    border-style: hidden;

    /* display: ; */
    /* margin: 0 auto; */

}
.fp-input-panel,
.fp-users {
    display: flex;
    align-items: left;
    /* justify-content: space-around; */
}