<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./voiti.css" rel="stylesheet">
    <title>findPractice</title>
</head>

<body>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./index.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-left fp-h1"><a href="./index.html" class="fp-a2">findPractice</a></h1>
                    <h5 class="text-left fp-h5 fp-header-text">Найди практику своей мечты!</h5>
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col fp-nadpis-div">
                <span class="fp-nadpis">Войти</span>
            </div>
        </div>
        <div class="row">
            <div class="col fp-form">
                <br>
                <form method="post" action="#">
                    <input class="fp-input" placeholder="Email">
                    <br>
                    <input class="fp-input" placeholder="Пароль">
                    <br>
                    <button class="fp-button">Войти</button>
                    <br>
                    <a href="./regist.html" class="fp-a">Нет аккаунта?</a>
                    <a href="./zabil.html" class="fp-a">Забыли пароль?</a>
                </form>
            </div>
        </div>
    </div>

</body>

</html>